/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  font-size: 1.5rem;
}
body {
  text-align: center;
}


img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background: red;
  color: white;
}

.hidden {
  display: none;
}